h3 {
    color: green;
}

p {
    color: orange;
}

#first {
    color: yellow;
}

#s {
    color: #e47979;
}

.a {
    color: #7b79f1;
}

ol {
    font-size: 12px;
}

ol > li.a{
    font-size: 10px;
}
/* ol > .a{
    font-size: 10px;
} 이렇게 적어도 무방*/ 

#unique {
    background-color: red;
}
/* ol > li#unique{
    background-color: red;
} */

a {
    color: yellow;
}

a:link {
    color: red;
}
a:visited {
    color: pink;
}

div {
    /* display: inline; */
}

a{
    /* display: block; */
}

div.square {
    background-color: red;
    width: 100px;
    height: 100px;
}

.border {
    border-style: solid;
    border-width: 3px;
}

.margin {
    /* margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 40px; */
    margin: 5px 10px 15px 20px;
}